[flake8]
select =
  # flake8-builtins
  A,
  # flake8-annotations
  ANN,
  # flake8-bugbear
  B, B9,
  #flake8-black
  BLK,
  # mccabe complexity
  C,
  # flake8-comprehensions
  C4,
  # flake8-docstrings
  D,
  # flake8-eradicate
  E800,
  # pyflakes
  F,
  # pep8-naming
  N,
  #flake8-bandit
  S,
  # pycodestyle
  E, W
  # flake8-unused-arguments
  U,

# flake8-docstrings
docstring-convention = numpy

ignore =
  #flake8-annotations
  # Missing type annotations for self (cls) in method (classmethod) (ANN101, ANN102)
  ANN101, ANN102,
  # Dynamically typed expressions (typing.Any) are disallowed (ANN401)
  ANN401,
  # B905**: ``zip()`` without an explicit `strict=` parameter set. ``strict=True``
  # causes the resulting iterator to raise a ``ValueError`` if the arguments are
  # exhausted at differing lengths. The ``strict=`` argument was added in Python 3.10,
  # so don't enable this flag for code that should work on <3.10. For more information:
  # https://peps.python.org/pep-0618/
  B905,
  # Whitespace before ':' (E203)
  E203,
  # flake8-bandit
  # Pickle and modules that wrap it can be unsafe when used to deserialize untrusted
  # data, possible security issue. (S301)
  S301,
  # Consider possible securita implications associated with {name} module. (S403)
  S403,
  # Line break occurred before a binary operator. (W503)
  W503,
  # Line too long (E501)
  # 1. black does not format comments
  # 2. long links in doc strings are an issue
  E501,

# B950 checks the maximum line length like the built-in E501, but with a tolerance
# margin of 10%. Set the maximum line length to a sane value, i.e. 80.
max-line-length = 80

# flake8-bandit: assert used (S101)
per-file-ignores =
  # assert used
  tests/*:S101
  # Missing docstring in public package
  __init__.py: D104
  tests/__init__.py: D104
  # Missing docstring in public module
  py.typed: D100

# pep8-naming
classmethod-decorators=
  classmethod,  #built-in
  validator,  # pydantic
  root-validator,  #pydantic

# Enable maccabe complexity checks
max-complexity = 15

exclude = __pycache__, old, build, dist, .venv, .*
