[tool.poetry]
name = "df2img"
version = "0.2.5"
description = "Save a Pandas DataFrame as image"
license = "MIT"
authors = ["Andreas Vester <andreas@vester-online.de>"]
readme = "README.rst"
homepage = "https://pypi.org/project/df2img/"
repository = "https://github.com/andreas-vester/df2img"
documentation = "https://df2img.readthedocs.io"
keywords = ["pandas", "dataframe", "image"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
include = [
    "CHANGELOG.rst",
    "LICENSE",
]

[tool.poetry.dependencies]
kaleido = "0.2.1"
pandas = "^1.0.0"
plotly = "^5.3.1"
python = "^3.8"

# Optional dependencies, which are needed for producing the Sphinx documentation.
ipykernel = {version = "^6.6.0", optional = true}
nbformat = {version = "^5.1.3", optional = true}
nbsphinx = {version = "^0.8.7", optional = true}
numpydoc = {version = "^1.1.0", optional = true}
pandoc = {version = "^1.1.0", optional = true}
sphinx = {version = "^4.3.0", optional = true}
sphinx-copybutton = {version = "^0.4.0", optional = true}
sphinx-rtd-theme = {version = "^1.0.0", optional = true}

[tool.poetry.dev-dependencies]
black = "^22.3.0"
flake8 = "^4.0.1"
isort = "^5.10.1"
mypy = "^0.960"
pre-commit = "^2.19.0"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
tox = "^3.25.0"
twine = "^4.0.0"
esbonio = "^0.13.0"

[tool.poetry.extras]
docs = [
    "ipykernel",
    "nbformat",
    "nbsphinx",
    "numpydoc",
    "pandoc",
    "sphinx",
    "sphinx-copybutton",
    "sphinx-rtd-theme",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/andreas-vester/df2img/issues"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
