[tool.poetry]
name = "df2img"
version = "0.2.7"
description = "Save a Pandas DataFrame as image"
license = "MIT"
authors = ["Andreas Vester <andreas@vester-online.de>"]
readme = "README.md"
homepage = "https://github.com/andreas-vester/df2img"
repository = "https://github.com/andreas-vester/df2img"
documentation = "https://df2img.readthedocs.io"
keywords = ["pandas", "dataframe", "image"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
include = [
    "CHANGELOG.md",
    "LICENSE",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/andreas-vester/df2img/issues"

[tool.poetry.dependencies]
python = "^3.8"
kaleido = "0.2.1"
pandas = "^1.0.0"
plotly = "^5.3.1"

[tool.poetry.group.dev.dependencies]
autoflake = "^1.5.3"
black = "^22.3.0"
esbonio = "^0.13.0"
flake8 = "^5.0.0"
flake8-annotations = "^2.9.1"
flake8-bandit = "^4.1.1"
flake8-black = "^0.3.3"
flake8-bugbear = "^22.8.23"
flake8-builtins = "^1.5.3"
flake8-comprehensions = "^3.10.0"
flake8-docstrings = "^1.6.0"
flake8-eradicate = "^1.3.0"
isort = "^5.10.1"
mypy = "^0.960"
nox = "^2022.8.7"
pep8-naming = "^0.13.2"
pre-commit = "^2.19.0"
python-kacl = "^0.2.30"

[tool.poetry.group.test.dependencies]
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
coverage = {extras = ["toml"], version = "^6.4.4"}
ipykernel = "^6.6.0"
nbformat = "^5.1.3"

[tool.poetry.group.docs.dependencies]
mkdocstrings = {extras = ["python"], version = "^0.19.0"}
mkdocs-jupyter = "^0.22.0"
mkdocs-material = "^8.5.3"

[tool.coverage.paths]
source = ["src", "*/site-packages"]
tests = ["tests", "*/tests"]

[tool.coverage.run]
branch = true
source = ["df2img", "tests"]

[tool.coverage.report]
show_missing = true
fail_under = 100
exclude_lines = [
    'if TYPE_CHECKING:',
    'pragma: no cover'
]

[tool.black]
target-version = ["py39", "py310"]
include = '\.pyi?$'

[tool.isort]
profile = "black"
src_paths = ["src", "tests", "./noxfile.py"]

[tool.pytest.ini_options]
minversion = "7.0"
addopts = """\
    --cov df2img \
    --cov tests \
    --cov-report term-missing \
    --no-cov-on-fail \
    --strict-markers
"""

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true
no_implicit_optional = true
strict_equality = true
warn_unused_ignores = true
warn_redundant_casts = true
check_untyped_defs = true
show_error_codes = true
show_column_numbers = true
show_error_context = true
follow_imports = "skip"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
